#countLabel{
    display: block;
    text-align: center;
    font-size: 50px;
}

.roll{
    background-color: hsl(271, 53%, 68%);
    display: block;
}

#rollBtn{
    background-color: hsl(190, 31%, 82%);
    
}